<div class="wrapper">
    <div class="cols">

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/bigbend.webp)">
                    <div class="inner">
                        <p>Big Bend Park</p>
                        <span>Brewster, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/bigbend.webp)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Night skies are dark as coal and rivers carve
                                temple-like canyons in ancient limestone. </p>
                            <form action="/itinerary/" method="POST">
                                <a id="link" href="#">Add to Itinerary</a>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/backpackingwoods.jpg)">
                    <div class="inner">
                        <p>Barnwell Mountains</p>
                        <span>Gilmer, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/backpackingwoods.jpg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Scenic views and rated as moderate,the trail offers a number of activity options.</p>
                            <form action="/itinerary/" method="POST">
                                <a id="link" href="#">Add to Itinerary</a>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/goodwater.jpeg)">
                    <div class="inner">
                        <p>Good Water Loop</p>
                        <span>Georgetown, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/goodwater.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>The trail offers a number of
                                activity options and is accessible year-round. Dogs are also able to use this trail!</p>
                            <form action="/itinerary/" method="POST">
                                <a id="link" href="#">Add to Itinerary</a>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/huecotanks.jpeg)">
                    <div class="inner">
                        <p>Hueco Tanks</p>
                        <span>El Paso, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/huecotanks.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Hueco geology emerged as
                                weather eroded away the limestone and carved the odd sculptural hoodoos seen today.</p>
                            <form action="/itinerary/" method="POST">
                                <a id="link" href="#">Add to Itinerary</a>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/enchantedrock.jpeg)">
                    <div class="inner">
                        <p>Enchanted Rock</p>
                        <span>Fredericksburg, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/enchantedrock.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Enjoy hiking, backpacking, rock
                                climbing, camping, and stargazing. Enchanted Rock offers 11 miles of trails.</p>
                            <form action="/itinerary/" method="POST">
                                <a id="link" href="#">Add to Itinerary</a>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/padreisland.jpeg)">
                    <div class="inner">
                        <p>Padre Island</p>
                        <span>Corpus Christi, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/padreisland.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Padre Island National Seashore separates the Gulf of Mexico from the Laguna Madre, one of
                                a few hypersaline lagoons in the world.</p>
                            <form action="/itinerary/" method="POST">
                                <a id="link" href="#">Add to Itinerary</a>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>